vc/Debug/*
vc/Release/*
vc/ipch/*
vc/IlpSolverUnitTest/Debug/*
vc/IlpSolverUnitTest/Release/*
vc/ScaiCbc/Debug/*
vc/ScaiCbc/Release/*
vc/ScaiIlpDll/Debug/*
vc/ScaiIlpDll/Release/*
*.sdf
*.opensdf
*.suo
