vc/Debug/*
vc/Release/*
vc/ipch/*
vc/IlpSolverUnitTest/Debug/*
vc/IlpSolverUnitTest/Release/*
vc/ScaiIlpDll/Debug/*
vc/ScaiIlpDll/Release/*
vc/ScaiIlpExe/Debug/*
vc/ScaiIlpExe/Release/*
*.sdf
*.opensdf
*.suo
